[submodule "ucesb"]
	path = ucesb
	url = gitolite@transfer.ktas.ph.tum.de:califa/ucesb.git
[submodule "mbs"]
	path = mbs
	url = gitolite@transfer.ktas.ph.tum.de:califa/mbs
	branch = linux_febex_1.3_wr
